language: python
jobs:
  include:
    - stage:
      python: 3.7
      dist: xenial
      sudo: required
      env: TOXENV=flake8

    - stage:
      python: 3.7
      dist: xenial
      sudo: required
      env: TOXENV=docs

    - stage:
      python: 2.7
      env: TOXENV=py27

    - stage:
      python: 3.6
      env: TOXENV=py36

    - stage:
      python: 3.7
      dist: xenial
      sudo: required
      env: TOXENV=py37

    - stage:
      python: pypy-5.6.0
      env: TOXENV=pypy

    - stage: deploy
      python: 3.7
      dist: xenial
      sudo: required
      before_install: skip
      install: skip
      script: skip
      deploy:
        provider: pypi
        user: davehunt
        password:
          secure: JqMVLhBMAinN9MmRHr52D149IFO62cJa0PDEn6d/eEDBX5VjABMSbo7+qbFFXeSdD+Yz8FqNo29SJnVQ99OUan12Wd+XNtw7f94YisMtcJrrcXrj3HM10NRcZS6RHXMbezNyYPcnp+8KDfFvHnwiBmrpOcKgpfWF7KT/7gZnKwbV6yZ8aofMU3CF2JRp1imPrVSeeRh7o0+TdwPXaKQ0XKk9gugrmMzcsjIlsM8nJbTxaRAgG1pUP+0+CQhgcGY/e172F8ZpfWgHJ03LDirxNsFEL1kQlxCwnaibljiAeGJqGn3bpDubt96fmdwwcA3aSlVb8xu4rLzNpDvxYryPpCipY127gykMBYWR4xtpxqqzyGQu0ZackFQGOUQmtNwlJVYjBhLQScevIBQE88nHal5FElrbxm5I7j/d1IY3MSkwqFs0ve+FtdUBJcair2EQZ4ZdXsETJSYejetJTGm9foqTYqhCchpA7u3qRCG/ruTiD64nt5PWnIRYaftXbI6VsQTXOPZRQpt3gt2jOHM8Bxr5m5j37taIfMBI3ltWIJukmC1czAFIOQT50XB2yAl6zFupnI2eF48sJgovIKacizw535C8FcinyIyq6ZftgTUrw61/cZvM9kNTK09SgF55Lddw0aNYqkHGm/ooSvdZOh7bZPSlNPQBNoY6rb3hHzI=
        distributions: sdist bdist_wheel
        on:
          tags: true
          repo: pytest-dev/pytest-selenium

sudo: required

env:
  global:
  - PYTEST_ADDOPTS="-m 'not (edge or safari or phantomjs)'"

cache: pip

before_install:
  - sudo apt-get update
  - sudo apt-get install -y libglib2.0-0 libnss3 libx11-6 unzip curl jq
  - installation/geckodriver.sh latest
  - installation/chromedriver.sh latest
  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &

install: pip install tox

script: tox

addons:
  firefox: latest
  chrome: stable
