[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
tox = "*"
flake8 = "*"
black = "*"
pre-commit = "*"
pytest-localserver = "*"
pytest-xdist = "*"
pytest-mock = "*"

[packages]
pytest-selenium = {editable = true,extras = ["appium"],path = "."}
