name: publish

on:
  push:
    tags:
      - v*

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: "3.9"
    - name: Install poetry
      run: curl -sSL https://install.python-poetry.org | python3 -
    - name: Configure poetry
      run: poetry config virtualenvs.in-project true
    - name: Set up cache
      uses: actions/cache@v3
      with:
        path: .venv
        key: venv-${{ hashFiles('**/poetry.lock') }}
        restore-keys: venv-
    - name: Install Dependencies
      run: poetry install
    - name: Publish
      run: >-
        poetry publish
        --build
        --username __token__
        --password ${{ secrets.PYPI_TOKEN }}
